@{
    ViewBag.Title = "CustomerHome";
}
@section Scripts{
    @Scripts.Render("~/Angular/Customer/Controller/OverviewController.js")
}
<script>
    angular.module('Spartan', ["kendo.directives"]);
    angular.element(document).ready(function () {
        angular.bootstrap(document, ['Spartan']);
    });
    angular.module("Spartan").value("currentUserId", @Html.Raw(Json.Encode(ViewBag.CurrentUser.Id)));
</script>

<div ng-controller="overviewController as ctrl">
    <h3>{{ctrl.myCarsDatasource[0].CarName}}</h3>







    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="carousel-indicators" ><h1 style="margin-right: 300px"><strong>{{ctrl.myCarsDatasource[0].CarName}}</strong></h1></div>
                <div class="carousel-inner">
                    <div class="row">
                        <div class="col-xs-6">
                            <img src="~/Content/image/car1.jpg" class="img-rounded" style="height: 250px; width: 350px" />

                        </div>

                        <div class="col-xs-1 text-center" style="height: 50px">
                            <img src="~/Content/image/phone.png" style="height: 50px" />


                        </div>
                        <div class="col-xs-4; text-left; " style="height: 25px">

                            <strong>CarNumber</strong>

                        </div>
                        <div class="col-xs-4; text-left; text-info" style="height: 25px">

                            <h5>{{ctrl.myCarsDatasource[0].CarNumber}}</h5>

                        </div>



                        <div class="col-xs-1" style="height: 50px">
                            <img src="~/Content/image/caricon.png" style="height: 50px" />


                        </div>
                        <div class="col-xs-4; text-left;" style="height: 25px">

                            <strong>Car Type</strong>

                        </div>
                        <div class="col-xs-4; text-left; text-info" style="height: 25px">

                            <h5>{{ctrl.myCarsDatasource[0].CarType}}</h5>

                        </div>

                        <div class="col-xs-1" style="height: 50px">
                            <img src="~/Content/image/paint_bucket.png" style="height: 50px" />


                        </div>
                        <div class="col-xs-4; text-left;" style="height: 25px">

                            <strong> Description </strong>

                        </div>
                        <div class="col-xs-4; text-left; text-info" style="height: 25px">

                            <h4>{{ctrl.myCarsDatasource[0].Description}}</h4>

                        </div>

                        <div class="col-xs-1" style="height: 50px">
                            <img src="~/Content/image/calendar.png" style="height: 50px" />


                        </div>
                        <div class="col-xs-4; text-left;" style="height: 25px">

                            <strong>Registered Date</strong>

                        </div>
                        <div class="col-xs-4; text-left; text-info" style="height: 25px">

                            <h4>{{ctrl.myCarsDatasource[0].RegisteredDate}}</h4>

                        </div>








                    </div>
                </div>
            </div>
            <div class="item">
                <div class="carousel-indicators" ><h1 style="margin-right: 300px"><strong>{{ctrl.myCarsDatasource[1].CarName}}</strong></h1></div>
                <div class="carousel-inner">
                    <div class="row">
                        <div class="col-xs-6">
                            <img src="~/Content/image/car2.jpg" class="img-rounded" style="height: 250px; width: 350px" />

                        </div>

                        <div class="col-xs-1 text-center" style="height: 50px">
                            <img src="~/Content/image/phone.png" style="height: 50px" />


                        </div>
                        <div class="col-xs-4; text-left; " style="height: 25px">

                            <strong>CarNumber</strong>

                        </div>
                        <div class="col-xs-4; text-left; text-info" style="height: 25px">

                            <h5>{{ctrl.myCarsDatasource[1].CarNumber}}</h5>

                        </div>



                        <div class="col-xs-1" style="height: 50px">
                            <img src="~/Content/image/caricon.png" style="height: 50px" />


                        </div>
                        <div class="col-xs-4; text-left;" style="height: 25px">

                            <strong>Car Type</strong>

                        </div>
                        <div class="col-xs-4; text-left; text-info" style="height: 25px">

                            <h5>{{ctrl.myCarsDatasource[1].CarType}}</h5>

                        </div>

                        <div class="col-xs-1" style="height: 50px">
                            <img src="~/Content/image/paint_bucket.png" style="height: 50px" />


                        </div>
                        <div class="col-xs-4; text-left;" style="height: 25px">

                            <strong> Description </strong>

                        </div>
                        <div class="col-xs-4; text-left; text-info" style="height: 25px">

                            <h4>{{ctrl.myCarsDatasource[1].Description}}</h4>

                        </div>

                        <div class="col-xs-1" style="height: 50px">
                            <img src="~/Content/image/calendar.png" style="height: 50px" />


                        </div>
                        <div class="col-xs-4; text-left;" style="height: 25px">

                            <strong>Registered Date</strong>

                        </div>
                        <div class="col-xs-4; text-left; text-info" style="height: 25px">

                            <h4>{{ctrl.myCarsDatasource[1].RegisteredDate}}</h4>

                        </div>

                    </div>
                </div>
                
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


       
    </div>
</div>




